<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Glav.SQLBuilder.Configuration.ConfigPovider" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Glav.SQLBuilder.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <system.diagnostics>
    <switches>
      <add name="General" value="4" />
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="myListener"
             type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             initializeData="Glav.SQLBuilder.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
    <applicationSettings>
        <Glav.SQLBuilder.Configuration.ConfigPovider>
            <setting name="ServerName" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="MainDatabaseName" serializeAs="String">
                <value>ola_tran</value>
            </setting>
            <setting name="VersionTableName" serializeAs="String">
                <value>DBVersion</value>
            </setting>
            <setting name="SupprtingDatabaseNames" serializeAs="String">
                <value>ola_log;ola_state;ola_audit_trail</value>
            </setting>
            <setting name="ScriptSubstitutionsStaging" serializeAs="String">
                <value>ola_tran=ola_stage;ola_audit_trail=ola_stage_audit_trail;ola_log=ola_stage_log;ola_state=ola_stage_state</value>
            </setting>
            <setting name="ScriptSubstitutionsRelease" serializeAs="String">
                <value>ola_tran=ola_live;ola_audit_trail=ola_live_audit_trail;ola_log=ola_live_log;ola_state=ola_live_state</value>
            </setting>
            <setting name="SqlBuildMode" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PackageOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PostScriptToRun" serializeAs="String">
                <value>SomeScriptToRunAfterCompletion.sql</value>
            </setting>
            <setting name="PreScriptToRun" serializeAs="String">
                <value>SomeScriptToRunBeforeStartingMainScriptRun.sql</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>ola_tran</value>
            </setting>
            <setting name="ScriptDirectory" serializeAs="String">
                <value>d:\temp\z</value>
            </setting>
        </Glav.SQLBuilder.Configuration.ConfigPovider>
    </applicationSettings>
</configuration>
